<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 </head>
<body>
<div class="row">
	<div class="col-12">
		<div style='text-align:center;width:100%;'>
			<img src='https://www.corebocuautla.com.mx/assets/images/corebo.png' style='width:200px;'>
			<h3 style='text-align:center;'>¡Felicidades! </h3>
			<h2 style='text-align:center;'> {{ participante.nombreParticipante|upper }}  {{ participante.apellidosParticipante|upper }}</h2>    
             <p>ESTAS INSCRITO A LA X CARRERA ATLÉTICA DEL FIN DE AÑO 2024 CUAUTLA MORELOS, POR FAVOR MANTENTE ATENTO EN LA PÁGINA PARA RECIBIR INSTRUCCIONES DE LA CARRERA.</p>
         <p><strong>Guarda este correo para cuarquier aclaración.</strong></p>
		</div>
	</div>
</div>
</body>
</html>