<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
 </head>
<body>
<div class="row">
	<div class="col-12">
		<div style='text-align:center;width:100%;'>
			<img src='https://www.corebocuautla.com.mx/assets/images/corebo.png' style='width:200px;'>
			<h3 style='text-align:center;'>¡¡¡AVISO IMPORTANTE!!! </h3>
			<h2 style='text-align:center;'> {{ participante.nombreParticipante|upper }} {{ participante.apellidosParticipante|upper }}</h2>    
             <p>X Carrera del día de fin de año 2024 Cuautla Morelos, será el domingo 20 de octubre por lo cual debes recojer tu kit. </p>
	         <p><strong style="color: red;">Entrega de kit: Sábado 19 de octubre del 2024 de 9:00 AM a 12:00 PM. Lugar: Unidad Deportiva Cuautla, Importante llevar exoneración firmada (adjunta en esté correo), credencial de elector o (CURP para menores de edad) para la recolección, (en caso de médico) Cédula profesional para validar su categoría.</strong></p>
	         <p><strong style="color: red;">También podrás descargar la exoneración desde la página del Club Corebo . (llevarla impresa por favor)</strong></p>
	         <p><strong style="color: red;">Pagina: <a href="https://www.corebocuautla.com.mx">https://www.corebocuautla.com.mx<a> </strong></p>
		</div>
	</div>
</div>
</body>
</html>